<app-header [isLogged]="false"></app-header>

<section class="banner">
  <div>
    <div class="us">
      <h1>You should be with US</h1>
    </div>
    <div class="usDescription">
      A Crowdfunding application powered by Elastic Pixel.<br />
      On this application you are going to be able to invest on Real Estate
      projects around the world and make profit in cryptocurrencies.
    </div>
  </div>
  <img src="../../../assets/Crew-Logo.png" alt="" srcset="" />
</section>

<section class=" banner benefits-investor">
  <img src="../../../assets/investor.png" alt="" srcset="" />
  <div>
    <h2>Benefits for Investors</h2>
    <ol>
      <li>Access to exclusive real estate projects worldwide.</li>
      <li>Earn profits in cryptocurrencies.</li>
      <li>Diversify your investment portfolio.</li>
      <li>
        Transparent and secure investment process through blockchain technology.
      </li>
      <li>Track project progress and performance in real-time.</li>
    </ol>
  </div>
</section>

<section class="banner benefits-constructor">
  <div>
    <h2>Benefits for Constructors</h2>
    <ol>
      <li>Access to a global pool of investors.</li>
      <li>Secure funding through decentralized finance.</li>
      <li>Real-time updates and transparency for investors.</li>
      <li>Efficient fund management through DAO voting.</li>
      <li>Enhanced project visibility and credibility.</li>
    </ol>
  </div>
  <img src="../../../assets/builder.jpeg" alt="" srcset="" />
</section>
