<mat-stepper [linear]="true" [animationDuration]="'1500'">
    <mat-step>
        <form>
        <ng-template matStepLabel>Proposal Description</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Proposal Name</mat-label>
            <input matInput placeholder="Name" />
            <mat-icon matSuffix>close</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Short description</mat-label>
            <input matInput placeholder="Description" />
            <mat-icon matSuffix>close</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Long Description</mat-label>
            <textarea matInput placeholder="Proposal Details"></textarea>
          </mat-form-field>
        </form>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
        <form>
        <ng-template matStepLabel>Proposal Details</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Contributions needed</mat-label>
            <input matInput placeholder="Amount" type="number" />
            <mat-icon matSuffix>close</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Estimated Revenue</mat-label>
            <input matInput placeholder="Revenue" />
            <mat-icon matSuffix>close</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Proposal Deadline</mat-label>
            <input matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </form>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
        <form>
        <ng-template matStepLabel>Proposal Location</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <input matInput placeholder="Country" />
            <mat-icon matSuffix>close</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <input matInput placeholder="State" />
            <mat-icon matSuffix>close</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" />
            <mat-icon matSuffix>close</mat-icon>
          </mat-form-field>
        </form>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Upload Documentation</ng-template>
      <button mat-raised-button color="primary">Cover Image</button>
      <button mat-raised-button color="primary">Proposal Document</button>
      <button mat-raised-button color="primary">More Proposal Images</button>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button>Reset</button>
      </div>
    </mat-step>
</mat-stepper>
