<mat-stepper [linear]="true" [animationDuration]="'1500'">
  <mat-step
    [stepControl]="proposalDescription"
    errorMessage="All fields are required."
  >
    <form class="vertical-step" [formGroup]="proposalDescription">
      <ng-template matStepLabel>Proposal Description</ng-template>
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        class="short-field"
      >
        <mat-label>Proposal Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Short description</mat-label>
        <input
          matInput
          placeholder="Description"
          formControlName="shortDescription"
          type="text"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Long Description</mat-label>
        <textarea
          matInput
          placeholder="Proposal Details"
          formControlName="longDescription"
        ></textarea>
      </mat-form-field>
    </form>
    <div>
      <button mat-button matStepperNext class="action-buttons">Next</button>
    </div>
  </mat-step>
  <mat-step
    [stepControl]="proposalDetails"
    errorMessage="All fields are required."
  >
    <form class="horizontal-step" [formGroup]="proposalDetails">
      <ng-template matStepLabel>Proposal Details</ng-template>
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        class="short-field"
      >
        <mat-label>Contributions needed</mat-label>
        <input
          matInput
          placeholder="Amount"
          type="number"
          formControlName="amountNeeded"
        />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        class="short-field"
      >
        <mat-label>Estimated Revenue</mat-label>
        <input
          matInput
          placeholder="Revenue"
          formControlName="estimatedRevenue"
          mask="00-00"
          [showMaskTyped]="true"
        />
        <mat-icon matSuffix>%</mat-icon>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        class="short-field"
      >
        <mat-label>Proposal Deadline</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="deadline" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step
    [stepControl]="proposalLocation"
    errorMessage="All fields are required."
  >
    <form class="horizontal-step" [formGroup]="proposalLocation">
      <ng-template matStepLabel>Proposal Location</ng-template>
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        class="short-field"
      >
        <mat-label>Country</mat-label>
        <input matInput placeholder="Country" formControlName="country" />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        class="short-field"
      >
        <mat-label>State</mat-label>
        <input matInput placeholder="State" formControlName="state" />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        class="short-field"
      >
        <mat-label>City</mat-label>
        <input matInput placeholder="City" formControlName="city" />
      </mat-form-field>
    </form>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Upload Documentation</ng-template>
    <div class="vertical-step">
      <button mat-raised-button color="primary" class="short-field">
        Cover Image
      </button>
      <button mat-raised-button color="primary" class="short-field">
        Proposal Document
      </button>
      <button mat-raised-button color="primary" class="short-field">
        More Proposal Images
      </button>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <mat-card>
      <mat-card-header>
        <mat-card-title>You are about to create a new Proposal</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Be aware that this proposal is going to be reviewed before it's approval.
        <br>
        We take siriusly the proposals we approve.
        <br>
        If we think the proposal has no foundation for success we reserve the right to publish it and will take the time to review the account for possible fraud.
      </mat-card-content>
    </mat-card>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="submitProposal()">Submit Proposal</button>
    </div>
  </mat-step>
</mat-stepper>
