/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-color: black;
}

app-landing {
  app-header {
    p {
      mat-toolbar {
        .mat-mdc-icon-button,
        .mat-primary {
          --mdc-icon-button-icon-color: unset !important;
        }
      }
    }
  }
}

mat-stepper {
  .mat-horizontal-content-container {
    padding-top: 2rem;
  }
}