:host {
    .heading {
        margin: 0 3rem;
        h2 {
            margin-top: 2rem;
            margin-left: 3rem;
        }
    }
    .vertical-step {
        display: flex;
        flex-direction: column;
    }
    .horizontal-step {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .short-field {
        width: fit-content;
    }
    .action-buttons {
        margin-left: auto;
    }
}

mat-card {
    margin: 0 3rem 4rem 3rem;
    mat-card-content {
        margin-top: 2rem;
    }
}